<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="net.pixelos.certifiedprops.overlay"
    android:versionCode="1700"
    android:versionName="17.00">

    <overlay
        android:isStatic="false"
        android:priority="0"
        android:targetPackage="android" />

    <application android:hasCode="false" />

</manifest>
